.promo {
    text-align: center;
    padding: 76px 0px 120px 0px;
    &__title {
        max-width: 804px;
        margin: 0 auto;
    }
    &__descr {
        max-width: 484px;
        margin: 0 auto;
        margin-top: 40px;
    }
    &__btns-group{
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-top: 80px;
    }
}